.header {
    height: 50px;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: rgb(243, 0, 0);
}
.header .link {
    text-decoration: none;
    /*margin: 5px 10px;*/
    padding: 1px 10px;
    display: inline-block;
    text-decoration-color: red;
    text-align: center;
    padding: 15px;
    margin-right: 50px;
    margin-top: 6px;
    font-size: x-large;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.fig {
    text-align: center;
}
body{
    text-align: center;
}
body .item-0 {
    padding-top: 2px;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
body .item-1 {
    padding-top: 5px;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgb(110, 110, 110);
}
body .item-2 {
    padding-top: 10px;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgb(110, 110, 110);
    padding-bottom: 40px;
}
.container {
    max-width: 1170px;
    margin: auto;
    height: 1400px;
  }
body .button {
    background-color: #ff0000;
    color: white;
    width: 180px;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 30px;
}
body .item-3 {
  text-align: right;
  font-size: x-large;
  letter-spacing: 1px;
}